/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

@media only screen and (min-width: 1201px) { 
    .hidden-xl{
        display: none;

    }

}
/*Extra large devices (large desktops, 1200px and up)
*/
@media only screen and (min-width: 993px ) and (  max-width: 1200px) { 
    .hidden-lg{
        display:none;
    }

}
/*// Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 769px) and (max-width: 992px) { 
    .hidden-md{
        display:none;
    }

}
/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 577px) and (max-width: 768px) { 
    .hidden-sm{
        display:none;
    }
    .bodyasli{
        padding:0;
    }
    .bodyasli > .articles > .box2 > ul > .cart{
        grid-column: 1/-1;
    }
    .bodyasli > .articles > .box2 > ul > .aspart{
        grid-column: 1/-1;
    }
    
    .bodyasli > .articles > .box2 > ul > .ctwoart{
        grid-column:1/-1;
    }
    .bodyasli > .articles > .box2 > ul > .mvcart{
        grid-column: 1/-1;
    }
    .bodyasli > .articles > .box2 > ul > .entityart{
        grid-column: 1/-1;
    }

}
/*/ Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 576px) {

    .hidden-xs{
        display:none;
    }
    .bodyasli{
        padding:0;
    }
    .bodyasli > .articles > .box2 > ul > .cart{
        grid-column: 1/-1;
    }
    .bodyasli > .articles > .box2 > ul > .aspart{
        grid-column: 1/-1;
    }
    
    .bodyasli > .articles > .box2 > ul > .ctwoart{
        grid-column:1/-1;
    }
    .bodyasli > .articles > .box2 > ul > .mvcart{
        grid-column: 1/-1;
    }
    .bodyasli > .articles > .box2 > ul > .entityart{
        grid-column: 1/-1;
    }
 }
 @media only screen and (max-width: 1095px){
.hidden-calendar{
    display: none;
}

.bodyasli > .articles > .box1 {
    grid-column: 1/-1;
}
.bodyasli > .articles > .box2 {
    grid-column: 1/-1;
}
 }







 


 